.adminDashboardStats{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.adminStatsCard{
    padding: 1rem 1rem;
    background-color: var(--primary-100);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
}
.adminStatsPlus{
    color: var(--tertiary-400);
    border-radius: 50%;
      padding: 1rem 1rem;
    background-color: var(--tertiary-400-30);
}
.adminStatsHalf{
    color: var(--tertiary-200);
    border-radius: 50%;
    padding: 1rem 1rem;
    background-color: var(--tertiary-200-30);
}
.adminStatsInvoice{
     color: var(--tertiary-100);
    border-radius: 50%;
    padding: 1rem 1rem;
    background-color: var(--tertiary-100-30);
}
.adminStatsDollar{
    color: var(--tertiary-300);
    border-radius: 50%;
      padding: 1rem 1rem;
    background-color: var(--tertiary-300-30);
}
@media all and (max-width:700px) {
    .adminDashboardStats{
        flex-direction: column;
    }
}